body {
    background-color: #ccc;
    
}

.jstree-contextmenu {
    z-index: 1200 !important;
}

#lMapControl {
    box-shadow: 3px 3px 3px #888888;
}

#map{
    height: 672px;
}

#myLayers {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 350px;
    max-height: 430px;
    background-color: #d2d2d2;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid #111;
    overflow: auto; 
    z-index: 1200;
    box-shadow: 3px 3px 3px #888888;
    opacity: .9;
}
#myLayersContent{
    background-color: #eee;
    padding: 4px;
}

.popupPanel
{
    display: none;
    //border: solid 1px black;
    position: absolute;
    left: 50%;
    top: 50%;
    //background-color: red;
    z-index: 1300;
    font-size: 1.2em;
    font-weight: bold;
    //height: 30px;
    //margin-top: -15px;

    width: 150px;
    margin-left: -75px;
}

#styleEdit {
    position: absolute;
    top: 0px;
    right: 0px; 
    width: 200px;
    background-color: #d2d2d2;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid #111;
    overflow: auto; 
    z-index: 1200;
    box-shadow: 3px 3px 3px #888888;
    opacity: 1.0;
    display: none;
}
#styleEditContent {
    background-color: #eee;
    padding: 4px;
    
}

.workspace {
    position: absolute;
    top: 160px;
    left: 12px; 
    width: 350px;
    max-height: 430px;
    background-color: #d2d2d2;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid #111;
    overflow: auto; 
    z-index: 1200;
    box-shadow: 3px 3px 3px #888888;
    opacity: .9;
}

#workspaceContent {
    background-color: #eee;
    //border-radius: 6px;
    //border: 1px solid #aaa;
    padding: 4px;
}

