body {
    background-color: #ccc;
    
}

#lMapControl {
    box-shadow: 3px 3px 3px #888888
}

#map{
    height: 672px;
}

.popupPanel
{
    display: none;
    //border: solid 1px black;
    position: absolute;
    left: 50%;
    top: 50%;
    //background-color: red;
    z-index: 1000;
    font-size: 1.2em;
    font-weight: bold;
    //height: 30px;
    //margin-top: -15px;

    width: 150px;
    margin-left: -75px;
}
